<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body>
    <div class="chinh">
        <div class="boxletf">

            <header>Accout | Logn in</header>
            <aside>
                <ul>
                    <li>
                        <a href="admin.php?act=qldm">Quản lý danh mục</a>
                    </li>
                    <li>
                        <a href="admin.php?act=qlsp">Quản lý sản phẩm</a>
                    </li>
                    <li>
                        <a href="admin.php?act=qltg">Quản lý danh sách tác giả</a>
                    </li>
                    <li>
                        <a href="admin.php?act=lgo">Logout</a>
                    </li>

                </ul>


            </aside>



            <div class="logoid"><img src="img1.jpg"></div>
            <div class="name">Name : Nguyễn Đức Sỹ</div>
            <div class="age">Age : 19</div>
            <div class="age">Job : Studen</div>
            <div class="age">Birthday : 08-11-2001</div>
            <div class="age">Hometown : Quảng Ngãi</div>
            <div class="age">PhoneNumber : 0702434097</div>
            <div class="age">Email : ngducsy08@gmail.com</div>
            <div class="row"><i class='fas fa-address-book' style='font-size:15px;color: gray; '></i><a href="#"><strong>About Me</strong></a></div>
            <div class="row"><i class='fas fa-music' style='font-size:15px;color: gray;'></i><a href="#"><strong>My Music</strong></a></div>
            <div class="row"><i class='fas fa-futbol' style='font-size:15px;color: gray;'></i><a href="#"><strong>Hobbies</strong></a></div>
            <div class="row"><i class="fa fa-rocket" style="font-size:15px;color: gray;"></i><a href="#"><strong>Tutorial</strong></a></div>
            <div class="row igla"><i class='far fa-images' style='font-size:15px;color: gray;'></i><a href="#"><strong>i-Gallery</strong></a></div>
            <div class="ngoisao"><i class="material-icons" style="font-size:15px;color: white;">star_border</i><a href="#"><strong>Bài nổi bật</strong></a></div>
            <div class="search"><i class="material-icons" style="font-size:15px;color: gray;">search</i>
                <input type="text">
            </div>
            <div class="line"></div>
            <div class="buttonfb"><i class='fab fa-facebook-f' style='font-size:15pt'></i></div>
            <ins>https://www.facebook.com/ndsy123</ins>

        </div>
    </div>
    <footer>Copyright 2020</footer>
</body>

</html>