<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../view/css/waka.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/../view/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/../view/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="heaad">
                <div class="dau">
                    <div class="boxlogo">
                        <a href="index.php"><img src="../view/img/logo-waka.png" alt=""></a>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="Nhập tên sách , tuyển tập , tác giả ,...">
                        <button> <i class="fa fa-search"></i><span>Tìm kiếm</span></button>
                    </div>
                    <div class="vip"><img src="../view/img/logo-waka.png" alt=""> <strong>VIP</strong></div>
                    <div class="dangnhap">
                        <button>ĐĂNG NHẬP</button>
                    </div>
                </div>
                <nav>

                    <ul>
                        <li><a href="index.php">Trang Chủ</a></li>
                        <li><a href="index.php?act=product">Sản phẩm</a></li>
                        <li class="baochi"><a href="index.php?act=about">Giới thiệu</a></li>
                        <li><a href="index.php?act=contact">Liên hệ</a></li>
                        <li class="tuyendung"><a href="index.php?act=new">Tin tức</a></li>
                        <li class="diendan"><a href="index.php?act=diendan">Diễn đàn</a></li>
                    </ul>
                    <div class="new"><strong>NEW</strong></div>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class="rowtwo">
            <div class="newup">
                <div class="newinweek">Sách mới nhất</div>
                <div class="viewall">XEM TẤT CẢ</div>
            </div>
            <hr>
            <div class="noidung">
                <div class="rtimg"><img src="../view/img/rowtwocontent2/1.jpg" alt=""></div>
                <a href="#"><strong>Nhân sự cốt cán</strong> </a>
                <nav>Seth Godin</nav>
                <hr>
                <ins>4.91<span>/5</span><strong>(103 votes)</strong></ins>
                <div class="iconbook"><i class='fas fa-book-open' style='font-size:15px'></i></div>
            </div>
            <div class="noidung">
                <div class="rtimg"><img src="../view/img/rowtwocontent2/2.jpg" alt=""></div>
                <a href="#"><strong>Cẩm nang mở nhà hàng</strong> </a>
                <nav>Roger Fields</nav>
                <hr>
                <ins>4.97<span>/5</span><strong>(184 votes)</strong></ins>
                <div class="iconbook"><i class='fas fa-book-open' style='font-size:15px'></i></div>
            </div>
            <div class="noidung">
                <div class="rtimg"><img src="../view/img/rowtwocontent2/3.jpg" alt=""></div>
                <a href="#"><strong>Bí mật người kể chuyện</strong> </a>
                <nav>Carmine Gallo</nav>
                <hr>
                <ins>4.97<span>/5</span><strong>(150 votes)</strong></ins>
                <div class="iconbook"><i class='fas fa-book-open' style='font-size:15px'></i></div>
            </div>
            <div class="noidung">
                <div class="rtimg"><img src="../view/img/rowtwocontent2/4.jpg" alt=""></div>
                <a href="#"><strong>20 Thách thức của nhà quản lý</strong> </a>
                <nav>Bruce Tulgan</nav>
                <hr>
                <ins>4.98<span>/5</span><strong>(51 votes)</strong></ins>
                <div class="iconbook"><i class='fas fa-book-open' style='font-size:15px'></i></div>
            </div>
            <div class="noidung">
                <div class="rtimg"><img src="../view/img/rowtwocontent2/5.jpg" alt=""></div>
                <a href="#"><strong>Lean out - Vươn mình</strong> </a>
                <nav>Marrissa Orr</nav>
                <hr>
                <ins>4.97<span>/5</span><strong>(29 votes)</strong></ins>
                <div class="iconbook"><i class='fas fa-book-open' style='font-size:15px'></i></div>
            </div>
            <div class="noidung">
                <div class="rtimg"><img src="../view/img/rowtwocontent2/6.jpg" alt=""></div>
                <a href="#"><strong>Lấy khách hàng làm trung tâm - Yếu tố...</strong> </a>
                <nav>Kyle M.K</nav>
                <hr>
                <ins>4.98<span>/5</span><strong>(49 votes)</strong></ins>
                <div class="iconbook"><i class='fas fa-book-open' style='font-size:15px'></i></div>
            </div>
        </div>
    </section>